nav {
  background-color: #00695c;
}

a {
  color: #009688;
}

.btn {
  background-color: #004d40;
}

.btn:hover {
  background-color: #006064;
}

h1 {
  font-size: 2.6rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.5;
}

p > p {
  padding-left: 1rem;
}

.collection.borderless {
  border: none;
}

.collection.borderless > .collection-item {
  border: none;
}

.collection.tight > .collection-item {
  padding: 5px 10px;
}
